# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
.env.*
*.pem
*.key
credentials
credentials.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
